<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>创建保险</title>
	<style type="text/css">
		@import"../css/console.css";
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
</head>
<body>
    <br>
    <h1>添加新保险</h1>
    <br>
	<form enctype="multipart/form-data" action="http://120.78.175.235:8081/create/insurance" method="POST">
	<div>保险名称</div>
	<div><textarea type="text" name="name" cols="100" rows="1"></textarea></div>
	<div>保险描述</div>
 	<div><textarea type="text" name="desc" cols="100" rows="1"></textarea></div>
 	<div id="company-list">
 		<span>保险公司ID</span>
 		<select name="companyId">
 			<option v-for="comment in comments">
 				<span>{{comment.Id}}</span>
 			</option>
 		</select>
 	</div>
 	<div id="insurance-type-list">
 		<span>保险类型ID</span>
 		<select name="insuranceTypeId">
 			<option v-for="insuranceType in insuranceTypes">
 				<span>{{insuranceType.Id}}</span>
 			</option>
 		</select>
 	</div>
 	<div>起始年龄</div>
 	<div><textarea type="number" name="ageFrom" cols="100" rows="1"></textarea></div>
 	<div>结束年龄</div>
 	<div><textarea type="number" name="ageTo" cols="100" rows="1"></textarea></div>
 	<div>每年赔偿上限</div>
 	<div><textarea type="number" name="annualCompensation" cols="100" rows="1"></textarea></div>
 	<div>每年平均保费</div>
 	<div><textarea type="number" name="annualPremium" cols="100" rows="1"></textarea></div>
 	<div>保险标记位</div>
 	<div><textarea type="number" name="flags" cols="100" rows="1"></textarea></div>
 	<div>保险详细信息(JSON)</div>
 	<div><textarea type="number" name="detailData" cols="100" rows="10"></textarea></div>
 	<div>保险缩略图</div>
 	<div><input type="file" name="uploadfile" /></div>
 	<div><input type="submit" value="创建保险" /></div>
    </form>
	<br><br>
	<a href="index.html" class="button">返回主页</a>
	<script src="../js/console/create-insurance.js"></script>
</body>
</html>